*{
    margin:0;
    padding: 0;
    font-family: montserrat;
}
.menu-area{
    width:1170px;
    margin:auto;
}
header{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(bj.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color:#fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: montserrat;
    font-size: 16px;
}
.nav-area li a:hover{
    background: #fff;
    color:#000;
}
.logo img{
    width:100px;
    height:auto;
    float:left;
}
.content{
    position: absolute;
    width:600px;
    height:200px;
    margin:20% 29%;
    text-align:centre;
}
.content h1{
    color:#fff;
    text-align: centre;
    text-transform: uppercase;
    font-size: 60px;
}
.content p{
    color:#fff;
    padding: 15px 0;
    line-height: 1.9;
}
.content a{
    border:1px solid #fff;
    padding:10px 25px;
    text-decoration: none;
    font-size:14px;
    text-transform: uppercase;
    color: #fff;
    margin-top:20px;
    display:inline-block;
}
.content a:hover{
    color:#000;
    background:#38e304;
}
@media(max-width:800px){
    .content{
        width:100%;
        margin:20% 0;
    }
    .content h1{
        font-size: 12px;
    }
    .menu-area{
        width: 100%;
    }
    .logo{
        width: 100%;
        text-align: center;
        float:none;
        display: block;
    }
    .nav-area{
        float:none;
        width: 100%;
        display: block;
        margin:top;
        text-align: center;
    }
    .logo img{
        float:none;
    }
}
